table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table, tr, td, th {
  padding: 0;
}

h2 {
  width: 100%;
  text-align: center;
}

th, tr {
  height: 50px;
}

th {
  font-weight: bolder;
  font-size: x-large;
}

td {
  cursor: pointer;
}

.streak {
  height: 5px;width: 100%;
}

.meditationStreakBackground {
  background-color: #5ccb5f;
}

.pomodoroStreakBackground {
  background-color: #98ff96;
}

.meditaded {
  color: black;
  background-color: white;
}

.notMeditaded {
  color: white;
}
