
#stopwatch-container {
    width: 600px;
    margin: 0 auto;
    padding: 10px 0;
    color: #e7eafb;
    text-align: center;
}

#stopwatch {
    padding: 10px 0;
    font-size: x-large;
}

.buttons-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

button {
    width: 230px;
    height: 40px;
    background-color: #202020;
    color: white;
    border-radius: 6px;
    border: 2px solid #fff;
    margin-left: 5px;
    margin-right: 5px;
    font-size: xx-large;
}

button:hover {
    background-color: #fff;
    color: #202020;
    cursor: pointer;
}

#setTimePanel {
    margin: 10px;
    font-size: 23px;
}

#setTimePanel > input {
    width: 100px;
    text-align: center;
    font-size: 23px;
}

#pauseButton, #distractedButton, #summaryPanel, #notifications {
    display: none;
}

#totalTime, #totalDistractions{
    font-weight: bold;
}

.clock {
    margin: 0px auto;
    width: 250px;
    height: 250px;
    fill: black
}
.outer-circle,
.center-circle {
    fill: DarkSlateGray;
}

.seconds {
    transform-origin: center;
    stroke-linecap: round;
}

.seconds {
    stroke: white;
}

.line {
    stroke-width: 1px;
    stroke: white;
    stroke-linecap: round;
    transform-origin: center;
}