<div id="stopwatch-container">
    <h1>Meditate</h1>
    <div class="clock">
        <svg class="circle" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <circle cx="60" cy="60" r="60" class="outer-circle"/>
          <circle cx="60" cy="60" r="57" />
          <line x1="60" y1="0" x2="60" y2="60" class="seconds" #secondsLine/>
          <circle cx="60" cy="60" r="3" class="center-circle" />
          <line x1="60" y1="5" x2="60" y2="10" class="line" />
        </svg>
      </div>            
    <div id="stopwatch">{{minutesDisplay}}:{{secondsDisplay}}</div>
    <div id="notifications"></div>
    
    <div class="buttons-container">
      <button onclick="pause()" id="pauseButton">Pause</button>
      <button mat-icon-button mat-raised-button *ngIf="this.isDistractedButtonVisible" (click)="addDistraction()" matTooltip="Click if you were distracted"
        aria-label="Click if you were distracted">
          <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/']" *ngIf="this.isHomeButtonVisible" matTooltip="Home">
        <mat-icon>home</mat-icon> 
      </button>
      <button mat-icon-button [routerLink]="['/set-meditation-time']" *ngIf="this.isNewMeditationButtonVisible" matTooltip="New meditation">
        <mat-icon>edit_square</mat-icon> 
      </button>
      <button mat-icon-button *ngIf="this.isRestartButtonVisible" (click)="restartMeditation()" matTooltip="Restart the meditation with the same settings">
        <mat-icon>replay</mat-icon>
    </button>
    </div>
</div>
