<mat-sidenav-container>
  <mat-sidenav #menu role="navigation">
    <p>Elemento sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="prim">
      <button mat-icon-button (click)="menu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span id="appName">Wellbeing</span>
      <div id="menuContainer">
        <ul id="menuLinks">
          <li class="menuItem"><a routerLink="/">Home</a></li>
          <li class="menuItem"><a routerLink="/meditate">Meditation</a></li>
          <li class="menuItem"><a routerLink="/concentrate">Concentrate</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>